@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --light-purple: hsl(254, 88%, 90%);
    --dark-purple:  hsl(256, 67%, 59%);
    --light-yellow: hsl(31, 66%, 93%);
    --dark-yellow: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}
body{
    background-color: whitesmoke;
} 
.container{
    width: 60%;
    margin: 20px auto;
    gap:10px;
    font-family: "DM Sans", sans-serif;
    height: 100vhx;
}
.sub-container{
    display: flex;
    align-items: start;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    line-height: 1;
   
}
.box{
    flex-basis: 15%;   
    border-radius: 10px;
}
.box img{
    width: 100%;
}
.num1{
    font-size: 16px;
    background: var(--light-yellow);
    padding: 50px 20px;
    grid-column: span 1;
    grid-row: span 1;
}
.num1 h3 span{
    color: var(--dark-purple);
}
.num1 img{
    width: 100%;
}

.num2{
    grid-row: span 1;
    grid-column: span 2;
    background: var(--dark-purple);
    padding: 30px ;
    text-align: center;
}
.num2 h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 10px;
}
.num2 h3 span{
    color: var(--dark-yellow);
}
.num2 img{
    width: 200px;
}
.num2 p{
    color: var(--white);
    font-size: 16px;
}
.num3{
    grid-column: span 1;
    grid-row: span 2;
    background: var(--light-purple);
    padding: 40px 20px;
    line-height: 1;
}
.num3 h3{
    font: 18px;
    margin-bottom: 10px;
}
.num3 img{
    position: relative;
    right: -20px;
    height: 200px;
}
.num3 p{
    font-size: 12px;
    text-align: center;
}
.num4{
    grid-column: span 1;
    grid-row: span 2;
    background: var(--dark-yellow);
    padding: 20px;
}
.num4 h3{
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.num5{ 
    grid-column: span 1;
    grid-row:span 1;
    background: var(--white);
    padding: 10px;
    margin-top: -65px;
}
.num5 h3{
    padding: 10px;
    font-size: 1.5rem;
}
.num6{
    grid-column: span 1;
    grid-row: span 1;
    font-size: 16px;
    background: var(--dark-yellow);
   padding:   10px;
   margin-top: -65px;
   line-height: .9;
}
.num6 h3{
    padding: 10px;
    font-size: 1.4rem;
}
.num6 img{
    width: 100px;
}
.num7{
    grid-column: span 1;
    grid-row: span 1;
    background-color: var(--white);
    padding:16px 10px;
}
.num7 h3{
    margin-bottom: 10px;
}
.num7 p {
    font-size: 12px;
    margin-bottom: 20px;
}
.num7 img{
    width: 150px;
}
.num8{
    grid-column: span 2;
    grid-row: span 1;
    background: var(--dark-purple);
    display: flex;
    align-items: center;

    padding: 10px;
}
.num8 h3{
    font-size: 1.3rem;
    color: var(--white);
}
.num8 img{
    /* width: 100%; */
    width: 150px;
    margin-right: 10px;
    font-weight: 200;
}
.attribution { 
    font-size: 16px;
    text-align: center; 
    padding: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 @media(max-width: 1200px){
    .sub-container{
        grid-template-columns:  repeat(3, 1fr);
    }
 }
 @media(max-width: 900px){
    .container{
        width: 90%;
    }
    .sub-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .num2{
        grid-column: span 1;
    }
    .num3 img{
        position: unset;
    }
    .num5, .num6{
        margin-top: 0;
    }
    .num8{
        grid-column: span 1;
        flex-direction: column;
    }
 }
 @media(max-width: 600px){
    .box{
        border-radius: 5px;
    }
    .sub-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .num1{
        grid-column: 1;
        grid-row: 8;
        padding: 20px;
    }
    .num2 h3{
        font-weight: 500;
    }
    .num5{
        grid-column: 1;
        grid-row: 2;
    }
    .num6{
        grid-column: 1;
        grid-row: 3;
    }

    .num6 img {
        width: 100%;
    }
    .num7{
        grid-column: 1;
        grid-row: 7;
    }
   
    .num8{
        grid-column: 1;
        grid-row: 6;
    }
    .num8 h3{
        text-align: center;
    }
    .num8 img{
        width: 50%;
    }
     .num2  {
        padding: 30px 30px;
    } 
    .num2 p{
        font-size: 18px;
    }

    .num1 h3, .num3 h3, .num4 h3, .num5 h3, .num6 h3, .num7 h3, .num8 h3 {
        font-size: 1.5rem; 
    }

     .num3 p, .num4 p, .num5 p, .num6 p, .num7 p {
        font-size: 14px; 
    }

 }
 